body{
    margin-top: 100px;
    background-image: url(src/img/pared2.avif);
    background-repeat: no-repeat;
    background-size: cover; 
    
    
    
}

ul li{
    border: inset;
    list-style:none;
    padding: 15px;
    color: red;
}

.input{
    border:inset 1px rgb(107, 3, 3);
}

#firstCont{
    border: 5px solid rgb(44, 42, 42);
  
    background-image: url(src/img/corcho.avif);

}

input{
    background-color: rgb(226, 196, 179);
}

